@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:ital,wght@1,300&display=swap');















* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.bg {
  background: rgb(249,240,9);
  background: -moz-linear-gradient(90deg, rgba(249,240,9,1) 8%, rgba(238,255,0,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(249,240,9,1) 8%, rgba(238,255,0,1) 100%);
  background: linear-gradient(90deg, rgba(249,240,9,1) 8%, rgba(238,255,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f009",endColorstr="#eeff00",GradientType=1); 
  font-family: 'Raleway', sans-serif;
}
.bg-blue{background-color: black;
  color: white;
}
.button {
  font-size: 10px;
  height: 22px;
  margin-top: 10px;
  width: 200px;
  font-weight: 600;
  background: rgb(236,239,11);
background: -moz-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecef0b",endColorstr="#97e42b",GradientType=1); 
  border: none;
  border-radius: 5px;
  animation: appear 0.5s ease 0ms 1 forwards;
}

.button:hover {
  background: black;
  color:  rgb(129,149,22);;
  font-size:15px;
  font-weight: 100;
}
#next-btn{
  color: black;
  background: rgb(236,239,11);
background: -moz-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecef0b",endColorstr="#97e42b",GradientType=1); 
  border: none;
  border-radius: 5px;
  animation: appear 0.5s ease 0ms 1 forwards;
}
#next-btn:hover{

  background: rgb(236,239,11);
background: -moz-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecef0b",endColorstr="#97e42b",GradientType=1); 
  font-weight: 500;
  box-shadow: 5px 2px 30px rgb(227, 213, 24);
  border: none;
}

#a {
  font-size: 12px;
}
#q {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
}

.form-check-input[type="radio"] {
  border-radius: 50%;
  border: 5px solid black;

}

.next {
  background-color: rgba(0, 0, 251, 0.686);
  color: rgb(237, 237, 255);
  border-radius: 50px;
  width: 80px;
  margin-top: 20px;
}


@keyframes appear {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#qa {
  animation: appear 0.1s ease 0ms 1 forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#options {
  display: flex;
  flex-direction: column;
  height: 200px;
  padding-top: 10px;
  align-items: center;
}

#option1 {
  animation: appear 0.5s ease 0ms 1 forwards;
  width: 200px;
}
#option2 {
  animation: appear 0.8s ease 0ms 1 forwards;
  width: 200px;
}
#option3 {
  animation: appear 1.1s ease 0ms 1 forwards;
  width: 200px;
}

.level {
  background: rgb(236,239,11);
background: -moz-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecef0b",endColorstr="#97e42b",GradientType=1); 
  border: none;
  border-radius: 5px;
}
.level:hover {
  background: black;
  color:  rgb(129,149,22);;
  
}

.submit {
  background: rgb(236,239,11);
background: -moz-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecef0b",endColorstr="#97e42b",GradientType=1); 
  font-weight: 500;
  box-shadow: 6px 3px 30px rgb(227, 213, 24);
  border: none;
}

.input-group {
  margin-top: 50px;
  border: 1px solid black;
}

/* select level button */
#sl {
  color: black;
  height: 28px;
  border: none;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  background: rgb(236,239,11);
background: -moz-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
background: linear-gradient(90deg, rgba(236,239,11,1) 0%, rgba(151,228,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecef0b",endColorstr="#97e42b",GradientType=1); 
}

#sl:hover {
  background: black;
  color:  rgb(129,149,22);;
  
}

/* 3idiots image */
#idiot {
  height: 20%;
}

/* how many input box */
#howmany {
  padding: 0 10px;
  border: none;
  border-radius: 10px;
}

#howmanyq {
  display: flex;
  flex-direction: column;
   font-family: 'Raleway', sans-serif;
  align-items: center;
  margin-top: 30px;
}

/* spinner */
#spinner {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#spin {
  animation-duration: 0.00001s;
}

/* images in result */
#fail {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 50%;
}
#success {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 50%;
}

#image {
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-top: 30px;
}

#next-button-div {
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

/* to center the question and the options */
#to-center {
  /* background-color:red; */
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media only screen and (max-width: 346px) {
  #image {
    height: 220px;
  }
}


.bg-fail{
  
  background-color: rgb(255, 230, 0);
  color: black;
}
.bg-pass{
  background-color: rgb(255, 230, 0);
 
  color: black;
}

#result {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: rgb(9, 9, 9); */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  /* justify-content: center; */
  align-items: center;
}
